<mat-card appearance="outlined" style="width: 70%; margin: 50px auto">
    <mat-card-header>
        <mat-card-title><p>REGISTRO DE ESTUDIANTES Y ASIGNACIÓN DE MATERIAS</p></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field [formGroup]="formIndex">
        <mat-label>Número de documento</mat-label>
        <input matInput formControlName="numeroDocumento" type="number">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="getStudent()" style="margin-left: 10px;">Buscar</button>
    <button mat-flat-button color="primary" (click)="nuevo()" style="margin-left: 10px;">Registrar Estudiantes</button>
    <button mat-flat-button disabled="{{buttonDisabled}}" color="primary" (click)="registroMaterias()" style="margin-left: 10px;">Administrar Materias</button>

        <table mat-table [dataSource]="listStudents" class="mat-elevation-z2" style="margin-top:20px">

            <ng-container matColumnDef="tipoDoc">
              <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoDoc}} </td>
            </ng-container>
          
            <ng-container matColumnDef="numeroDocumento">
              <th mat-header-cell *matHeaderCellDef> Numero Documento </th>
              <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
            </ng-container>
          
            <ng-container matColumnDef="fechaNacimiento">
              <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
            </ng-container>
          
            <ng-container matColumnDef="primerNombre">
              <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.primerNombre}} </td>
            </ng-container>

            <ng-container matColumnDef="segundoNombre">
                <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.segundoNombre}} </td>
              </ng-container>

            <ng-container matColumnDef="primerApellido">
                <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
              </ng-container>

            <ng-container matColumnDef="segundoApellido">
                <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.segundoApellido}} </td>
              </ng-container>

            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Direccion </th>
                <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
              </ng-container>

            <ng-container matColumnDef="numeroCelular">
                <th mat-header-cell *matHeaderCellDef> Numero Celular </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroCelular}} </td>
              </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button title="Edita los datos del estudiante." mat-icon-button color="primary" (click)="editar(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button title="Elimina el registro del estudiante." mat-icon-button color="warn" (click)="eliminar(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
</mat-card>